.animlist {
  opacity: 0.01;
  transition: opacity 0.5s, transform 0.5s;
  animation: fadeInUp 0.5s ease-out 0.15s forwards;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
li {
  @extend .animlist;
}

@keyframes fadeInUp {
  from {
    opacity: 0.01;
    transform: translateY(10px);
  }
  to {
    opacity: unset;
    transform: unset;
  }
}